<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hehe">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hehe"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Ring_Activity"
            android:exported="false" />
        <activity android:name=".Signup.LoginActivity" />
        <activity android:name=".PopActivity" />
        <activity android:name=".Sum.SumActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".FindPasswdActivity" />
        <activity android:name=".LogFireActivity" />
        <activity android:name=".SettingPage.CheckPasswdActivity" />
        <activity android:name=".SettingPage.ChangePasswdActivity" />
        <activity android:name=".SettingPage.LogoutActivity" />
        <activity android:name=".SettingPage.BellActivity" />
        <activity android:name=".SettingPage.AddBFActivity" />
        <activity android:name=".SettingPage.SetIdActivity" />
        <activity android:name=".Signup.RegisterActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>